<div class="cats-navbar">
  <button class='newcat'>
    <%= link_to 'All cats', cats_path %>
  </button>
  <button class='cats-index'>
    <%= link_to 'New cat', newcat_path %>
  </button>
</div>

<hr />

<div class='cats__cat'>
  <h4 class='cats__cat--title'><%= @cat.breed %>: <%= @cat.name %></h4>
  <%= image_tag src="#{@cat.url}", class: 'cats__cat--img' %>
</div>